#navdiv {
    font-size: 34px;
}

a {
    color: rgb(255, 16, 16);
    text-decoration: none;
}
a:hover {
    color:hotpink;
}
a:active{
    color:lightcoral;
}

li{
    list-style-type: circle;
}

body {
    font-family: "Comic Sans MS"; 
    background-color: #FFF3F3;
    text-align: left;
}

.advert{
    box-sizing: content-box;
    width: auto;
    border: solid dodgerblue 5px;
    box-shadow: 5px 10px #888888;
    padding: 6px;
    margin:3px;
}

#MovieTitles{
        background-color: #54CC14;
}

p[class] {font-size: 22px;}

p[class="advert1"] {
@import url('https://fonts.googleapis.com/css?family=Lato');
    font-family: 'Lato', sans-serif;
    position: relative;
    top:30px;
    font-size: 30px;}

.signup{

}