#navdiv {
    font-size: 34px;
}

a {
    color: rgb(255, 16, 16);
    text-decoration: none;
}

body {
    font-family: "Comic Sans MS"; /* <-- what the fuck is this? Ryan we can't be using this shit*/
    background-color: #FFF3F3;
}

.advert{
    box-sizing: content-box;
    width: auto;
    border: solid dodgerblue 5px;
    padding: 6px;
    margin:3px;
}
